body {
  margin:0;
  font-family: Open Sans,sans-serif;
  font-size:14px;
}
a {
  text-decoration-line: none;
}
.head {
  margin: 0;
  width:100%;
  height:40px;
  background-color:white;
  padding:10px
}
.logo {
  float:left;
  height:25px;
  margin:0;
  padding-left:10px;
  padding-right:10px;
  padding-top:10px;
}
.list_left {
  float:left;
  margin:0;
  display:inline-block;
  line-height:30px;
}
.list_right{
  float:right;
  padding-right:30px;
  margin:0;
  display:inline-block;
  line-height:30px;
}
li {
  list-style: none;
  display:inline-block;
  padding: 5px 15px;
}
a:hover {
  color:gray;
  cursor: pointer;
}
.login {
  border: 1px solid;
  border-right-color:#d8d8d8;
  border-top:none;
  border-left:none;
  border-bottom:none;
}
.upload {
  display:inline-block;
  padding:5px 30px;
  background-color: #02be6e;
  border:none;
  text-align: center;
  border-radius: 50px;
  color:white;
  font-size:15px;
  cursor: pointer;
}
.upload:hover {
  color:white;
  background-image: linear-gradient(#02be6e, #02af66);

}
.upload-img{
  margin:0;
  vertical-align:middle;
  padding-right:5px;
}
.arrow {
  border: solid gray;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.background{
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  ),url(back.jpg);
  background-size: cover;
  background-position: center;
}
.search-text {
  color:white;
  text-align: center;
  opacity:0.5;
  padding-bottom:100px;
  padding-top:10px;
}
.search-text > a {
  color:white;
}
.sub-text{
  padding-top:20px;
  padding-bottom: 40px;
  text-align: center;
  color: white;
  font-size: 16px;
}
.head-text{
  padding-top:150px;
  text-align: center;
  color: white;
  font-size: 32px;
  font-weight: bold;
}
fieldset {
  margin:0 auto;
  width:760px;
  height: 42px;
  background-color: white;
  border-radius: 5px;
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:10px;
}
.search{
  padding:0 30px;
  border-style: none;
  font-size:16px;
  width:680px;
}
.search:focus{
  outline: none;
}
.prop{
  margin:0;
  text-align: center;
  color:white;
  opacity:0.8;
  font-size: 15px;
  padding-bottom:10px;
}
.prop > a {
  color: white;
  opacity: 0.8;
}
.prop > a:hover{
  color: white;
  opacity: 1.0;
}
.search::placeholder {
  color:#cecece;
}